<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <script src="/static/cards.js"></script>

    {% if cards %}
        {% if cards[0]["front_img"] %}
            {% set img = cards[0]["front_img"] %}
            {% if "http" in img %}
                <img src="{{ img }}" class="max-h-24 mx-auto mt-4 rounded">
            {% else %}
                <img src="/static/{{ img }}" class="max-h-24 mx-auto mt-4 rounded">
            {% endif %}
        {% endif %}


        <div class="flex items-centre justify-center gap-4">
            {% if cards[0]["front_audio"] %}
                <audio id="audio-card" autoplay src="/static/{{ cards[0]['front_audio'] }}"></audio>
                <button onclick="document.getElementById('audio-card').play()" 
                    class="border mt-4 px-4 py-2 rounded hover:bg-gray-100">
                    🔊
                </button>
            {% endif %}

            <p class="text-center text-3xl mt-4">{{ cards[0]["front"] }}</p>
        </div>

        <div id="verso" style="display:none">
            <p class="text-center text-xl m-4">{{ cards[0]["back"] }}</p>
        </div>

        <div class="flex justify-center m-4">
            <button id="btn-revelar" onclick="revelar()" class="border px-4 py-2 hover:bg-gray-100 rounded">Verso</button>
        </div>
        
        <div class="flex justify-center m-4">
            <form action="/deck/{{ deck_id }}/cards/{{ cards[0]['id'] }}" method="POST">
                <button class="border px-4 py-2 rounded hover:bg-red-300" type="submit" name="quality" value="0">Errei</button>
                <button class="border px-4 py-2 rounded hover:bg-green-300" type="submit" name="quality" value="5">Fácil</button>
                <button class="border px-4 py-2 rounded hover:bg-orange-300" type="submit" name="quality" value="3">Dificil</button>
            </form>
        </div>

    {% else %}
        <p class="text-center text-green-500 text-3xl m-4">Nenhum card para revisar hoje!</p>
        <a href="/">Menu</a>
    {% endif %}
</body>
</html>