<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Menu</a>

    <form action="/deck/{{ deck_id }}/cards/new" method="POST">
        <input type="text" name="front" placeholder="Frente">
        <input type="text" name="back" placeholder="Verso">
        <button type="submit">Criar card</button>
    </form>

    {% for card in cards %}
    <p>{{ card["front"] }} - {{ card["back"] }}</p>
    {% endfor %}
</body>
</html>