<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boss Deck</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

    <nav class="bg-purple-700 border-b px-8 py-4 flex justify-between items-center">
        <h2>Boss Deck</h2>
        <button onclick="toggleEdit()" class="border px-4 py-2 rounded">Editar</button>
    </nav>

    <div class="flex items-center justify-center gap-4 p-8">

        <button onclick="scrollCarousel(-1)" class="text-2xl px-2 hover:text-gray-500">
            ‹
        </button>

        <!-- novo baralho -->
        <div onclick="document.getElementById('modal').classList.remove('hidden')" 
            class="border-2 border-dashed rounded-xl flex items-center justify-center cursor-pointer hover:bg-gray-100 flex-shrink-0"
            style="width:180px; height:240px">
            <span class="text-4xl text-gray-400">+</span>
        </div>

        <!-- trilho do carrossel -->
        <div class="flex gap-4 overflow-hidden" id="carousel" style="width: 780px">

            <!-- Baralhos -->
            {% for deck in decks %}
            <a href='/deck/{{ deck["id"] }}' 
                class="border rounded-xl p-4 block hover:shadow-lg relative bg-white flex-shrink-0"
                style="width:180px; height:240px">
                <h2 class="font-bold text-lg flex items-center justify-center">
                    {{ deck["name"] }}
                    {% if deck["due"] == 0 %} ✅ {% endif %}
                </h2>
                <p class="text-gray-500 text-sm flex items-center justify-center">
                    {{ deck["description"] }}
                </p>

                <div class="edit-actions hidden absolute top-2 right-2 flex gap-2">

                    <!-- Edit Deck -->
                    <button 
                        onclick="event.stopPropagation(); abrirEditar({{ deck['id'] }}, '{{ deck['name'] }}', '{{ deck['description'] }}'); return false" 
                        class="bg-yellow-400 text-white px-2 py-1 rounded text-sm">✏️
                    </button>

                    <!-- Excluir Deck -->
                    <form action="/deck/{{ deck['id'] }}/delete" method="POST" 
                        onclick="event.stopPropagation()"
                        onsubmit="confirmarexclusao(event)">
                        <button type="submit" class="bg-red-500 text-white px-2 py-1 rounded text-sm">🗑</button>
                    </form>

                </div>
            </a>
            {% endfor %}

        </div>

        <button onclick="scrollCarousel(1)" class="text-2xl px-2 hover:text-gray-500">
            ›
        </button>

    </div>

    <div class="flex flex-col items-center p-8">
        <h2 class=" font-bold mb-4">Atividade</h2>
        <div id="heatmap" class="flex gap-1"></div>
    </div>

    <div id="modal" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
        <div class="bg-white rounded-lg p-12 w-96">
            <h2 class="font-bold text-xl mb-4">Novo Baralho</h2>
            <form action="/decks/new" method="POST">
                <input type="text" name="name" placeholder="Nome" class="border w-full p-2 rounded mb-3">
                <input type="text" name="description" placeholder="Descrição" class="border w-full p-2 rounded mb-4">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded w-full">Criar</button>
            </form>
            <button onclick="document.getElementById('modal').classList.add('hidden')" 
                    class="mt-2 text-gray-500 w-full text-center">Cancelar</button>
        </div>
    </div>


    <div id="modal-edit" class="hidden fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center">
        <div class="bg-white rounded-lg p-12 w-96">
            <h2 class="font-bold text-xl mb-4">Editar Baralho</h2>
            <form id="form-edit" method="POST">
                <input type="text" id="edit-name" name="name" placeholder="Nome" class="border w-full p-2 rounded mb-3">
                <input type="text" id="edit-description" name="description" placeholder="Descrição" class="border w-full p-2 rounded mb-4">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded w-full">Salvar</button>
            </form>
            <button onclick="document.getElementById('modal-edit').classList.add('hidden')" 
                    class="mt-2 text-gray-500 w-full text-center">Cancelar</button>
        </div>
    </div>

    <script> const HEATMAP_DATA = {{ heatmap | tojson }}; </script>
    <script src="/static/homepage.js"></script>
</body>
</html>