<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if cards %}
        <p>{{ cards[0]["front"] }}</p>
        <p>{{ cards[0]["back"] }}</p>

        <form action="/deck/{{ deck_id }}/study/{{ cards[0]['id'] }}" method="POST">
            <button type="submit" name="quality" value="0">Esqueci</button>
            <button type="submit" name="quality" value="3">Lembrei</button>
            <button type="submit" name="quality" value="5">Fácil</button>
        </form>
    {% else %}
        <p>Nenhum card para revisar hoje!</p>
        <a href="/">Menu</a>
    {% endif %}
</body>
</html>