<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="static/images/logo.png">
    <title>Boss Deck</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"></script>


</head>
<body>
    <script src="/static/cards.js"></script>
    

    <nav class="ml-2 mt-2">
        <a href='/' title="Início">
            <iconify-icon
                icon="tabler:home-2-filled"
                width="32"
                class="text-black-500 hover:text-red-500 transition-all"
                style="transition: transform 0.2s; display:inline-block"
                onmouseover="this.style.transform='scale(1.2)'"
                onmouseout="this.style.transform='scale(1)'">
            </iconify-icon>
        </a>
    </nav>

    {% if cards %}
        {% if cards[0]["front_img"] %}
            {% set img = cards[0]["front_img"] %}
            {% if "http" in img %}
                <img src="{{ img }}" class="max-h-24 mx-auto mt-4 rounded">
            {% else %}
                <img src="/static/{{ img }}" class="max-h-24 mx-auto mt-4 rounded">
            {% endif %}
        {% endif %}


        <div class="flex items-centre justify-center gap-4">
            {% if cards[0]["front_audio"] %}
                <audio id="audio-card" autoplay src="/static/{{ cards[0]['front_audio'] }}"></audio>
                <button onclick="document.getElementById('audio-card').play()" 
                    class="border mt-4 px-4 py-2 rounded hover:bg-gray-100">
                    <iconify-icon
                        icon="tabler:volume"
                        width="32"
                        class="text-black-500 transition-all"
                        style="transition: transform 0.2s; display:inline-block">
                    </iconify-icon>
                </button>
            {% endif %}

            <div class="text-center text-3xl mt-4">
                {{ cards[0]["front"] | safe }}
            </div>
        </div>

        {% if cards[0]["card_type"] == "multiple_choice" %}
            <!-- Alternativas -->
            <div class="flex flex-col items-center gap-3 mt-6 px-8">
                {% for option in cards[0]["options"] %}
                <button onclick="responderAlternativa(this, {{ loop.index0 }}, {{ option.correct | tojson }})"
                    class="w-full max-w-lg border px-4 py-3 rounded-xl hover:bg-gray-100 text-left transition">
                    {{ option.text }}
                </button>
                {% endfor %}
            </div>

            <div id="verso" style="display:none" class="flex justify-center mt-4">
                <div class="text-xl text-center text-gray-600">
                    {{ cards[0]["back"] | safe }}
                </div>
            </div>

        {% else %}
            <!-- Card básico -->
            <div id="verso" style="display:none" class="flex justify-center mt-4">
                <div class="text-3xl text-center">
                    {{ cards[0]["back"] | safe }}
                </div>
            </div>

            <div class="flex justify-center m-4">
                <button id="btn-revelar" onclick="revelar()" class="border px-4 py-2 hover:bg-gray-100 rounded">Verso</button>
            </div>
        {% endif %}
        
        <div class="flex justify-center m-4">
            <form action="/deck/{{ deck_id }}/cards/{{ cards[0]['id'] }}" method="POST">
                <button class="border px-4 py-2 rounded hover:bg-red-300" type="submit" name="quality" value="0">Errei</button>
                <button class="border px-4 py-2 rounded hover:bg-green-300" type="submit" name="quality" value="5">Fácil</button>
                <button class="border px-4 py-2 rounded hover:bg-orange-300" type="submit" name="quality" value="3">Dificil</button>
            </form>
        </div>

    {% else %}
        <p class="text-center text-green-500 mt-8 text-3xl m-4">Nenhum card para revisar hoje!</p>
    {% endif %}

    <script>
        document.querySelectorAll('.math').forEach(el => {
            katex.render(el.textContent, el, { throwOnError: false });});
    </script>

    <script>
        renderMathInElement(document.body, {
            delimiters: [
                {left: "$$", right: "$$", display: true},
                {left: "$", right: "$", display: false}
            ]
        });
    </script>
</body>
</html>