<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="static/images/logo.png">
    <title>Boss Deck</title>

    <script src="https://cdn.tailwindcss.com"></script>

    <!-- icon -->
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

    <!-- Rich text editor -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
    <!-- Katex -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css">
    <script src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"></script>

</head>
<body class="bg-gray-100">
    <script src="/static/decks.js"></script>
    <script>const DECK_ID = {{ deck_id }};</script>


    <nav class="bg-purple-700 border-b px-8 py-4">
        <a href='/' title="Início">
            <iconify-icon
                icon="tabler:home-2-filled"
                width="32"
                class="text-black-500 hover:text-red-500 transition-all"
                style="transition: transform 0.2s; display:inline-block"
                onmouseover="this.style.transform='scale(1.2)'"
                onmouseout="this.style.transform='scale(1)'">
            </iconify-icon>
        </a>
    </nav>

    <div class="px-8 py-6">
        <h1 class="text-3xl font-bold text-gray-800">
            {{ deck["name"] }}
        </h1>

        <div class="flex gap-3 mt-2 text-sm">
            <span class="bg-gray-200 px-3 py-1 rounded-lg">
                {{ total_cards }} cards
            </span>
            <span class="bg-purple-200 px-3 py-1 rounded-lg">
                {{due}} para revisar
            </span>
            <span class="bg-green-200 px-3 py-1 rounded-lg">
                {{ stats["mastered"] }} dominados
            </span>
            <span class="bg-yellow-200 px-3 py-1 rounded-lg">
                {% set avg = stats.get("avg_easiness", 0) | float %}
                
                {% if avg >= 2.5 %}
                    <div class="flex justify-center">
                        <iconify-icon
                            icon="tabler:mood-tongue-wink-2"
                            width="25"
                            class="text-black-500">
                        </iconify-icon>
                    </div>
                {% elif avg >= 2.0 %}
                    <div class="flex justify-center">
                        <iconify-icon
                            icon="tabler:mood-empty"
                            width="25"
                            class="text-black-500">
                        </iconify-icon>
                    </div>
                {% else %}
                    <div class="flex justify-center">
                        <iconify-icon
                            icon="tabler:mood-wrrr"
                            width="25"
                            class="text-black-500">
                        </iconify-icon>
                    </div>
                {% endif %}
            </span>
        </div>
    </div>


    <!-- Botoes -->
    <div class="flex gap-4 px-8 mb-6">

        <!-- Novo card -->
        <div onclick="document.getElementById('modal').classList.remove('hidden')" 
            class="bg-white shadow rounded-xl p-6 
            flex items-center justify-center cursor-pointer hover:scale-105 transition w-20 h-20">
            <iconify-icon
                icon="mage:plus"
                width="30"
                class="text-black transition duration-300 group-hover:text-red-500">
            </iconify-icon>
        </div>

        <!-- Iniciar -->
        <a href='/deck/{{ deck_id }}/cards'
            class="group bg-purple-700 shadow rounded-xl p-6 
            flex items-center justify-center cursor-pointer hover:scale-105 transition w-20 h-20">
            <iconify-icon
                icon="mage:play-fill"
                width="30"
                class="text-black transition duration-300 group-hover:text-red-500">
            </iconify-icon>
        </a>

        <!-- Editar -->
        <button onclick="toggleLista()"
            class="group bg-gray-100 shadow rounded-xl p-6 
            flex items-center justify-center cursor-pointer hover:scale-105 transition w-20 h-20">
            <iconify-icon
                icon="tabler:pencil"
                width="30"
                class="text-black transition duration-300 group-hover:text-red-500">
            </iconify-icon>
        </button>

        <!-- Importar CSV -->
        <label class="group bg-gray-100 shadow rounded-xl p-6 
            flex items-center justify-center cursor-pointer hover:scale-105 transition w-20 h-20">
            <iconify-icon
                icon="mage:file-upload"
                width="30"
                class="text-black transition duration-300">
            </iconify-icon>
            <form id="form-csv" action="/deck/{{ deck_id }}/cards/import" method="POST" enctype="multipart/form-data">
                <input type="file" name="csv_file" accept=".csv" class="hidden"
                    onchange="document.getElementById('form-csv').submit()">
            </form>
        </label>
    </div>


    <div id="lista" class="{% if lista_aberta %}block{% else %}hidden{% endif %} p-8">
        <div class="bg-white rounded-xl shadow overflow-hidden"></div>

            <table class="w-full">

                <button onclick="deletarSelecionados()" 
                    id="btn-deletar-selecionados"
                    class="hidden bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 transition">
                    🗑 Deletar selecionados
                </button>

                {% if total_pages > 1 %}
                <div class="flex justify-center gap-2 mt-4">
                    {% if page > 1 %}
                    <a href="/deck/{{ deck_id }}?page={{ page - 1 }}&lista=1" 
                        class="group px-4 py-2 mb-2 bg-purple-700 shadow rounded-xl flex items-center 
                        justify-center cursor-pointer hover:scale-105 transition">
                    <iconify-icon
                        icon="mage:double-arrow-left"
                        width="20"
                        class="text-black transition duration-300 group-hover:text-red-500">
                    </iconify-icon>
                    </a>
                    {% endif %}
                    
                    <span class="px-4 py-2 text-gray-500">{{ page }} / {{ total_pages }}</span>
                    
                    {% if page < total_pages %}
                    <a href="/deck/{{ deck_id }}?page={{ page + 1 }}&lista=1" 
                        class="group px-4 py-2 mb-2 bg-purple-700 shadow rounded-xl flex items-center 
                        justify-center cursor-pointer hover:scale-105 transition">
                    <iconify-icon
                        icon="mage:double-arrow-right"
                        width="20"
                        class="text-black transition duration-300 group-hover:text-red-500">
                    </iconify-icon>
                    </a>
                    {% endif %}
                </div>
                {% endif %}


                <thead class="bg-gray-100 text-gray-600 text-sm">
                    <tr class="bg-gray-100">
                        <th class="border p-2">
                            <input type="checkbox" id="select-all" onclick="selecionarTodos(this)">
                        </th>
                        <th class="border p-2 text-left">id</th>
                        <th class="border p-2 text-left">Frente</th>
                        <th class="border p-2 text-left">Verso</th>
                        <th class="border p-2 text-left">Editar</th>
                        <th class="border p-2 text-left">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                {% for card in cards %}
                <tr class="hover:bg-gray-200 transition">
                    <td class="border p-2">
                        <input type="checkbox" class="card-checkbox" value="{{ card['id'] }}" onchange="atualizarBtnDeletar()">
                    </td>
                    <td class="border p-2">{{ card["id"]}}</td>
                    <td class="border p-2">{{ card["front"] | safe }}</td>
                    <td class="border p-2 text-gray-600">{{ card["back"] | safe }}</td>
                    <td class="border p-2">
                        <button onclick="abrirEditarCard({{ card['id'] }}, '{{ card['front'] }}', '{{ card['back'] }}')"
                            class="px-2 py-1 rounded-lg">
                            <iconify-icon
                                icon="tabler:pencil"
                                width="20"
                                class="text-black transition duration-300">
                            </iconify-icon>
                        </button>
                    </td>
                    <td class="border p-2">
                        <form action="/deck/{{ deck_id }}/cards/{{ card['id'] }}/delete" onsubmit="confirmarexclusao(event)" method="POST">
                            <button type="submit" 
                                class="px-2 py-1 rounded text-sm">
                                <iconify-icon
                                    icon="mage:trash"
                                    width="20"
                                    class="text-red-500 transition duration-300">
                                </iconify-icon>
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div id="modal" class="hidden fixed inset-0 bg-black/40 backdrop-blur-sm flex items-center justify-center z-50">
        <div class="bg-white w-full max-w-2xl rounded-2xl shadow-xl p-6">
            <h2 class="text-2xl font-bold text-gray-800 mb-6">Novo Card</h2>

            <form id="form-novo-card" action="/deck/{{ deck_id }}/cards/new" method="POST" enctype="multipart/form-data">
                
                <!-- Tipo do card -->
                <div class="flex gap-2 mb-4">
                    <button type="button" onclick="setTipo('basic')" id="btn-basic"
                        class="flex-1 py-2 rounded-lg border-2 border-purple-700 bg-purple-700 text-white font-bold transition">
                        📝 Básico
                    </button>
                    <button type="button" onclick="setTipo('multiple_choice')" id="btn-mc"
                        class="flex-1 py-2 rounded-lg border-2 border-gray-200 text-gray-500 font-bold transition">
                        🔤 Múltipla Escolha
                    </button>
                </div>
                <input type="hidden" name="card_type" id="card-type" value="basic">

                <input type="text" name="front_img_url" placeholder="URL da imagem"
                    class="w-full mt-2 mb-4 px-4 py-2 rounded-xl border border-gray-200 focus:ring-2 
                    focus:ring-purple-500 outline-none"/>

                <div class="mb-4">
                    <label class="text-sm font-medium text-gray-600">Frente</label>
                    <div id="editor-front" class="mt-2 bg-gray-50 rounded-xl border border-gray-200"></div>
                    <input type="hidden" name="front" id="front-hidden">
                </div>

                <!-- Alternativas (múltipla escolha) -->
                <div id="area-alternativas" class="hidden mb-4">
                    <label class="text-sm font-medium text-gray-600 mb-2 block">Alternativas</label>
                    <div id="lista-alternativas">
                        <div class="flex items-center gap-2 mb-2">
                            <input type="radio" name="correct_option" value="0" checked>
                            <input type="text" name="option_text" placeholder="Alternativa 1" 
                                class="border w-full p-2 rounded-xl">
                        </div>
                        <div class="flex items-center gap-2 mb-2">
                            <input type="radio" name="correct_option" value="1">
                            <input type="text" name="option_text" placeholder="Alternativa 2" 
                                class="border w-full p-2 rounded-xl">
                        </div>
                    </div>
                    <button type="button" onclick="adicionarAlternativa()" 
                        class="text-purple-700 text-sm font-bold mt-1">+ Adicionar alternativa</button>
                </div>

                <div class="mb-4">
                    <label class="text-sm font-medium text-gray-600">Verso</label>
                    <div id="editor-back" class="mt-2 bg-gray-50 rounded-xl border border-gray-200"></div>
                    <input type="hidden" name="back" id="back-hidden">
                </div>

                <div class="mt-3 flex items-center justify-center border border-dashed rounded-xl 
                    py-4 text-gray-500 hover:bg-gray-50 cursor-pointer">
                    🎵 Clique para adicionar áudio
                    <input type="file" name="front_audio" accept="audio/*" class="hidden">
                </div>

                <div class="mt-6 flex flex-col gap-2">
                    <button type="submit" 
                        class="bg-purple-600 hover:bg-purple-700 text-white font-medium py-3 rounded-xl transition">
                        Criar
                    </button>
                </div>
            </form>

            <div class="mt-6 flex flex-col gap-2">
                <button onclick="document.getElementById('modal').classList.add('hidden')"
                    class="border border-gray-300 hover:bg-gray-100 py-3 rounded-xl transition">
                    Cancelar
                </button>
            </div>
        </div>
    </div>

    <div id="modal-edit-card" class="hidden fixed inset-0 bg-black/40 backdrop-blur-sm flex items-center justify-center z-50">
        <div class="bg-white w-full max-w-2xl rounded-2xl shadow-xl p-6">
            <h2 class="text-2xl font-bold text-gray-800 mb-6">Editar Card</h2>
            
            <form id="form-edit-card" method="POST">

                <div class="mb-4">
                    <label class="text-sm font-medium text-gray-600">Frente</label>
                    <div id="editor-edit-front" class="mt-2 bg-gray-50 rounded-xl border border-gray-200"></div>
                    <input type="hidden" name="front" id="edit-front-hidden">
                </div>

                <div class="mb-4">
                    <label class="text-sm font-medium text-gray-600">Verso</label>
                    <div id="editor-edit-back" class="mt-2 bg-gray-50 rounded-xl border border-gray-200"></div>
                    <input type="hidden" name="back" id="edit-back-hidden">
                </div>

                <div class="mt-6 flex flex-col gap-2">
                    <button type="submit" 
                        class="bg-purple-600 hover:bg-purple-700 text-white 
                        font-medium py-3 rounded-xl transition">
                        Editar
                    </button>
                </div>
            </form>

            <div class="mt-6 flex flex-col gap-2">
                <button onclick="document.getElementById('modal-edit-card').classList.add('hidden')"
                    class="border border-gray-300 hover:bg-gray-100 py-3 rounded-xl transition">
                    Cancelar
                </button>
            </div>

        </div>
    </div>

</body>
</html>